<div class="card mt-3">
  <div class="card-header bg-info text-white">
    <h2>Liste des praticiens</h2>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>nom</th>
        <th>Prénom</th>
        <th>Courriel</th>
        <th>Adresse</th>
        <th>Spécialité</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let praticien of list()">
        <td>{{praticien.id}}</td>
        <td>{{praticien.nom | uppercase}}</td>
        <td>{{praticien.prenom}}</td>
        <td>{{praticien.email}}</td>
        <td>{{praticien.adresse}}</td>
        <td>{{praticien.specialite}}</td>

        <td>
          <div class="btn-group btn-group-sm">
            <!--
            <a class="btn btn-info text-light" data-toggle="modal" data-target="#myModal" (click)="modal(praticien.id)"><i class="fa fa-bars"></i></a>
             -->
            <a class="btn btn-primary text-light" (click)="edit(praticien.id)"><i class="fa fa-edit"></i></a>
            <a class="btn btn-danger text-light" (click)="remove(praticien.id)"><i class="fa fa-trash"></i></a>

          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <!-- The Modal -->

  <div class="card-footer">

    <a class="btn btn-success btn-lg" routerLink="/ajout-praticien-component" >
      <i class="fa fa-plus"></i>
    </a>
  </div>


</div>
